# SQL Alchemy Core

In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.4.44'

In [2]:
import warnings
warnings.filterwarnings('ignore')

SQLAlchemy core includes: 
- SQL rendering engine, 
- DBAPI integration, 
- Transaction integration, and 
- Schema description services. 

SQLAlchemy core uses SQL Expression Language that provides a schema-centric usage paradigm whereas SQLAlchemy ORM is a domain-centric mode of usage.

## Connecting to Database

In [3]:
#for sqlite
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, scoped_session
from threading import Thread

In [4]:
engine = create_engine('sqlite:///college.db', echo = True)

In [49]:
#using this instead
DATABASE_CONNECTION_INFO = 'sqlite:///college.db'
engine = create_engine(DATABASE_CONNECTION_INFO, echo=False)
DBSession = scoped_session(
    sessionmaker(
        autoflush=True,
        autocommit=False,
        bind=engine
    )
)

In [3]:
#for mysql
engine = create_engine("mysql://user:pwd@localhost/college",echo = True)

In [10]:
#To specifically mention DB-API to be used for connection
#mysql+pymysql://<username>:<password>@<host>/<dbname>

Some important methods of Engine class are:
- connect() -> Returns connection object
- execute() -> Executes a SQL statement construct
- begin() -> Returns a context manager delivering a Connection with a Transaction established. Upon successful operation, the Transaction is committed, else it is rolled back
- dispose() -> Disposes of the connection pool used by the Engine
- driver() -> Driver name of the Dialect in use by the Engine
- table_names() -> Returns a list of all table names available in the database
- transaction() -> Executes the given function within a transaction boundary

## Creating Table

In [5]:
from sqlalchemy import MetaData
meta = MetaData()

SQLAlchemy matches Python data to the best possible generic column data types defined in it. Some of the generic data types are:
- BigInteger
- Boolean
- Date
- DateTime
- Float
- Integer
- Numeric
- SmallInteger
- String
- Text
- Time

In [6]:
#to define a table
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

In [7]:
#to create a table
meta.create_all(engine)

2022-11-28 10:13:27,397 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-28 10:13:27,400 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-11-28 10:13:27,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-28 10:13:27,402 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2022-11-28 10:13:27,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-28 10:13:27,404 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2022-11-28 10:13:27,405 INFO sqlalchemy.engine.Engine [no key 0.00075s] ()
2022-11-28 10:13:27,411 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
#complete code
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///college.db', echo = True)

meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)

2022-11-28 10:13:30,455 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-28 10:13:30,455 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2022-11-28 10:13:30,456 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-11-28 10:13:30,457 INFO sqlalchemy.engine.Engine COMMIT

## SQL Expressions

In [9]:
ins = students.insert().values(name = 'Karan')
str(ins)

'INSERT INTO students (name) VALUES (:name)'

In [10]:
ins.compile().params

{'name': 'Karan'}

In [11]:
ins2 = students.insert().values(id=1, name='Ali', lastname='Akbar')
print(str(ins2))
print(ins2.compile().params)

INSERT INTO students (id, name, lastname) VALUES (:id, :name, :lastname)
{'id': 1, 'name': 'Ali', 'lastname': 'Akbar'}

## Executing Expression

In [12]:
conn = engine.connect()

In [13]:
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')
result = conn.execute(ins)

2022-11-28 10:13:40,071 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-28 10:13:40,072 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ('Ravi', 'Kapoor')
2022-11-28 10:13:40,074 INFO sqlalchemy.engine.Engine COMMIT

In [18]:
conn.close

In [23]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

ins = students.insert()
ins = students.insert().values(name = 'Ravi', lastname = 'Kapoor')

conn = engine.connect()
result = conn.execute(ins)

2022-11-28 10:18:26,499 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-28 10:18:26,500 INFO sqlalchemy.engine.Engine [generated in 0.00077s] ('Ravi', 'Kapoor')
2022-11-28 10:18:26,504 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
result.inserted_primary_key

(13,)

In [25]:
#insert many values
conn.execute(students.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2022-11-28 10:18:32,099 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2022-11-28 10:18:32,100 INFO sqlalchemy.engine.Engine [generated in 0.00107s] (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2022-11-28 10:18:32,103 INFO sqlalchemy.engine.Engine COMMIT